.container__user {
    width: 100%;
    height: 100%;
}

.container__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.container__category {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__category {
    width: 114px !important;
    height: 43px !important;

    max-width: 114px;
    max-height: 43px;

    color: var(--color-gray-2);
}

.category__time {
    color: var(--color-gray-1) !important;
}

.title__category {
    color: var(--color-white);
}

.container__star {
    font-weight: bold;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.star__icon {
    color: var(--color-yellow);
}