.mainContent {
  width: 100%;
}

.loginFormDiv {
  width: 659px;
  height: 572px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: flex-start;
  gap: 30px;
  padding: 30px;
  background-color: var(--color-gray-2);
  margin-left: 11.59%;

  @media (min-width: 319px) and (max-width: 719px) {
    width: 100%;
    margin-left: 5px;
  }

  @media (min-width: 720px) and (max-width: 1023px) {
    width: 500px;
  }
}

.loginButtons {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
