.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: .625rem;

  position: relative;

  div {
    width: 100%;
  }

  button {
    height: 3.125rem;
    width: 12.5rem;
    align-self: flex-end;
  }

  .teste {
    display: flex;
  }

  @media (min-width:720px) {
    flex-direction: row;

    button {
      position: absolute;
      right: 0;
      top: 190px;
    }
  }
}
