.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  height: 100%;
  max-height: 67px;

  background-color: var(--color-yellow);
  color: var(--color-gray-2);
  border-radius: 255px;

  &.medium {
    max-width: 170px;
    height: 54px;
  }

  &.small {
    max-width: 190px;
    height: 43px;
  }
}