.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 2036px;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    padding: 0 18%;

    background-color: var(--color-gray-2);
}