    .container {
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-width: 1328px;
        width: 100%;
        height: 100%;

        padding: clamp(1.6875rem, 5vw, 2.125rem) 0.5rem 2.25rem 0.5rem;

        margin: 0 auto;

        background-color: var(--color-gray-2);
    }