* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: transparent;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

img {
    max-width: 100%;
}