.title1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: var(--color-white);
}

.title1-mobile-a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.title1-mobile-b {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.title3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.paragraph {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: var(--color-white);
}

.menu-item {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 17px;
}

.link {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 17px;

  color: var(--color-yellow);
}